/* WIDGET: PARTNERS
-------------------------------------------- */

.vlt-partners {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	margin: 0 -15px;

	@include mq('medium', min) {
		justify-content: space-between;
	}

}

.vlt-partner-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	padding: 0 15px;

	@include mq('medium', min) {
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}

	&:nth-child(-n + 3) {

		@include mq('medium') {
			margin-bottom: 40px;
		}

	}

	img {
		display: block;
		flex-shrink: 0;
		width: auto;
	}

	img {
		opacity: 0.5;
		transition: opacity 300ms $transition;
	}

	&:hover img {
		opacity: 1;
	}

}