/* WORDPRESS: PASSWORD FORM
-------------------------------------------- */

.vlt-post-password-form {
	max-width: px2rem(400px);

	h4 {
		display: flex;
		align-items: center;
		margin: 0 0 px2rem(15px);

		svg {
			height: 1em;
			width: 1em;
			margin-right: 15px;
			color: map-get($colors, 'p1');
		}

	}

	.vlt-form-group {
		display: flex;

		button {
			flex-shrink: 0;
			margin-left: px2rem(15px);
		}

	}

}